<div class="row">
  <div class="small-12 large-12 columns">
    <app-product-filter (onSearch)="filterCollection($event)"></app-product-filter>
  </div>
  <div *ngIf="products?.length > 0" class="small-up-2 medium-up-4 large-up-6">

   <!-- En la 1ª línea suscribimos a este componente, al eventEmitter del componente hijo para estar al tanto de los clicks que le hagan -->
    <app-product (notificarClickParaDetalle)="notificarClickDetalle($event)"
      *ngFor="let product of products"
      [data]="product"
      class="column">
    </app-product>
  </div>
  <div *ngIf="products?.length === 0" class="text-center">
    <span>No se han encontrado productos.</span>
  </div>
</div>
<div class="text-center">

  <a routerLink="/reset">Reset de productos</a>
</div>
